{#
   Copyright 2015 VMware, Inc.  All rights reserved.

   SPDX-License-Identifier: Apache-2.0 OR GPL-3.0-only
#}
[Unit]
Description=Docker Daemon
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-{{ flannel_env_file }}
EnvironmentFile=-{{ docker_env_file }}
ExecStart=/bin/docker daemon $DOCKER_OPTS {{ docker_opts }}

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
Group={{ docker_user }}

[Install]
WantedBy=multi-user.target
